<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
  <div class="nav-flex">
    <a routerLink="/#" class="brand w-nav-brand"><img src="assets/images/Nebula_1.svg" loading="lazy" alt="" class="image-3"></a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <a routerLink="/" class="link-block w-inline-block">
        <div class="icon-span">arrow_back</div>
        <div class="nav-text">Back to Slides</div>
      </a>
      <a routerLink="/old-home" class="link-block w-inline-block">
        <div class="icon-span">space_dashboard</div>
        <div class="nav-text">Dashboard</div>
      </a>
      <a routerLink="/teams" class="link-block w-inline-block">
        <div class="icon-span">groups</div>
        <div class="nav-text">Community</div>
      </a>
      <a routerLink="/insights" class="link-block current w-inline-block">
        <div class="icon-span current">lightbulb</div>
        <div class="nav-text current">Insights</div>
      </a>
      <a routerLink="/modules3" class="link-block w-inline-block">
        <div class="icon-span">dns</div>
        <div class="nav-text">Shop</div>
      </a>
      <a routerLink="/" class="link-block disabled w-inline-block"><img src="assets/images/pistol.svg" loading="lazy" width="24" alt="" class="train-icon">
        <div class="nav-text">Training</div>
      </a>
      <a routerLink="/" class="link-block disabled w-inline-block">
        <div class="icon-span">event</div>
        <div class="nav-text">Events</div>
      </a>
    </nav>
    <div class="w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
  <div class="profile-div"><img src="assets/images/profile.jpg" loading="lazy" alt="" class="profile-pic">
    <div class="text-block">Elaine Jones</div>
    <div class="expand-icon">arrow_drop_up</div>
  </div>
</div>
<div class="chat-bar"><img src="assets/images/chat_white_24dp.svg" loading="lazy" alt="" class="image-4"><img src="assets/images/profile.jpg" loading="lazy" alt="" class="chat-avatar"><img src="assets/images/profile.jpg" loading="lazy" alt="" class="chat-avatar">
  <div class="chat-bar"><img src="assets/images/chat_white_24dp.svg" loading="lazy" alt="" class="image-4"><img src="assets/images/avatar3.jpg" loading="lazy" alt="" class="chat-avatar green"><img src="assets/images/avatar2.jpg" loading="lazy" alt="" class="chat-avatar"><img src="assets/images/avatar4.jpg" loading="lazy" alt="" class="chat-avatar"></div>
</div>
<div class="content">
  <div class="tabs">
    <a routerLink="/insights" class="tab-link w-inline-block">
      <div class="tab-text">Overview</div>
    </a>
    <a routerLink="/insight-events" class="tab-link w-inline-block">
      <div class="tab-text">Events</div>
    </a>
    <a routerLink="/insight-modules" aria-current="page" class="tab-link w-inline-block w--current">
      <div class="tab-text current">Modules</div>
    </a>
  </div>
  <div class="loadout">
    <h1 class="section-heading">Loadout Performance</h1>
    <div class="flex stretch">
      <div class="top-loadout">
        <div class="best-loadout">
          <div class="loadout-gauge">
            <div class="gauge-title center">
              <div class="gauge-label">Best Loadout</div>
            </div>
            <div class="gauge-label-large">Loadout #1</div>
            <div class="gauge-value-div center">
              <div class="gauge-value">91.68%</div>
              <div class="unit">Win Ratio</div>
            </div>
            <div class="weapons-stats">
              <div class="text-block-7">Top 3 Weapons - 425 Total Kills</div>
              <div class="color-bars w-row">
                <div class="column-11 w-col w-col-6"></div>
                <div class="column-12 w-col w-col-4"></div>
                <div class="column-13 w-col w-col-2"></div>
              </div>
            </div>
            <div class="legend-columns w-row">
              <div class="weapon-column w-col w-col-4">
                <div class="weapon">
                  <div class="legend-dot"></div><img src="assets/images/AK-47.svg" loading="lazy" alt="" class="gunpic">
                  <div class="weaponlabel">AK-47</div>
                  <div class="killratio">260/425</div>
                </div>
              </div>
              <div class="w-col w-col-4">
                <div class="weapon">
                  <div class="legend-dot pink"></div><img src="assets/images/M4.svg" loading="lazy" alt="" class="gunpic">
                  <div class="weaponlabel">M4A1</div>
                  <div class="killratio">100/425</div>
                </div>
              </div>
              <div class="w-col w-col-4">
                <div class="weapon">
                  <div class="legend-dot purple"></div><img src="assets/images/M24.svg" loading="lazy" alt="" class="gunpic">
                  <div class="weaponlabel">M24</div>
                  <div class="killratio">65/425</div>
                </div>
              </div>
            </div>
            <div class="more-button">
              <div class="button more-details">
                <div class="button-text">More Details</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="weapons-performance">
        <div class="most-kills-label">Top 5 Weapons</div>
        <div class="table-header-columns outline w-row">
          <div class="table-column w-col w-col-4">
            <div class="table-header"> </div>
          </div>
          <div class="table-column w-col w-col-4">
            <div class="table-header">Weapon Name</div>
          </div>
          <div class="table-column w-col w-col-4">
            <div class="table-header">Kills</div>
          </div>
        </div>
        <div class="row-column outlined w-row">
          <div class="text-column w-col w-col-4"><img src="assets/images/AK-47.svg" loading="lazy" height="24" alt=""></div>
          <div class="text-column w-col w-col-4">
            <div class="row-text">AK-47</div>
          </div>
          <div class="text-column w-col w-col-4">
            <div class="row-text">845</div>
          </div>
        </div>
        <div class="row-column outlined w-row">
          <div class="text-column w-col w-col-4"><img src="assets/images/M4.svg" loading="lazy" height="24" alt=""></div>
          <div class="text-column w-col w-col-4">
            <div class="row-text">M4A1</div>
          </div>
          <div class="text-column w-col w-col-4">
            <div class="row-text">501</div>
          </div>
        </div>
        <div class="row-column outlined w-row">
          <div class="text-column w-col w-col-4"><img src="assets/images/M24.svg" loading="lazy" height="24" alt=""></div>
          <div class="text-column w-col w-col-4">
            <div class="row-text">M24</div>
          </div>
          <div class="text-column w-col w-col-4">
            <div class="row-text">360</div>
          </div>
        </div>
        <div class="row-column outlined w-row">
          <div class="text-column w-col w-col-4"><img src="assets/images/Mossburg-500-Flex.svg" loading="lazy" height="24" alt=""></div>
          <div class="text-column w-col w-col-4">
            <div class="row-text">Mossburg 500 Flex</div>
          </div>
          <div class="text-column w-col w-col-4">
            <div class="row-text">215</div>
          </div>
        </div>
        <div class="row-column outlined w-row">
          <div class="text-column w-col w-col-4"><img src="assets/images/SIG-P320.svg" loading="lazy" height="24" alt=""></div>
          <div class="text-column w-col w-col-4">
            <div class="row-text">SIG P320</div>
          </div>
          <div class="text-column w-col w-col-4">
            <div class="row-text">118</div>
          </div>
        </div>
        <div class="more-button">
          <div class="button more-details">
            <div class="button-text">View All Weapons</div>
          </div>
        </div>
      </div>
      <div class="loadout-map">
        <div class="insight"><img src="assets/images/idea.svg" loading="lazy" alt="" class="image-9">
          <div class="text-block-3">Swapping the M4A1 for a M16A2 in this scenario could increase your KDA by .011 to 0.27.</div>
        </div>
        <div class="stretch-flex"><img src="assets/images/dustmap.jpg" loading="lazy" sizes="350px" height="350" srcset="assets/images/dustmap-p-500.jpeg 500w, assets/images/dustmap-p-800.jpeg 800w, assets/images/dustmap.jpg 1024w" alt="">
          <div class="weapons-table">
            <div class="gauge-label">Top Rated Map - Loadout Performance</div>
            <div class="map-label w-row">
              <div class="column-31 w-col w-col-4">
                <div class="text-block-16">Map</div>
                <div class="text-block-17">Dust II</div>
              </div>
              <div class="column-32 w-col w-col-4">
                <div class="text-block-16">Zone</div>
                <div class="text-block-17">Z3</div>
              </div>
              <div class="column-33 w-col w-col-4">
                <div class="text-block-16">Loadout</div>
                <div class="text-block-17">Loadout #4</div>
              </div>
            </div>
            <div class="profile-stats notfollowed"></div>
            <div class="comstats underline w-row">
              <div class="column-14 w-col w-col-4">
                <div class="stat-number">92.02%</div>
                <div class="stat-title">Win Ratio</div>
              </div>
              <div class="column-15 w-col w-col-4">
                <div class="stat-number">1.57</div>
                <div class="stat-title">KDA</div>
              </div>
              <div class="column-30 w-col w-col-4">
                <div class="stat-number">93.98%</div>
                <div class="stat-title">Aim Ratio</div>
              </div>
            </div>
            <div class="row-column outlined w-row">
              <div class="text-column w-col w-col-4"><img src="assets/images/SSG-08.svg" loading="lazy" height="24" alt=""></div>
              <div class="text-column w-col w-col-4">
                <div class="row-text">SSG 08</div>
              </div>
              <div class="text-column w-col w-col-4">
                <div class="row-text">265 kills</div>
              </div>
            </div>
            <div class="row-column outlined w-row">
              <div class="text-column w-col w-col-4"><img src="assets/images/M24.svg" loading="lazy" height="24" alt=""></div>
              <div class="text-column w-col w-col-4">
                <div class="row-text">M24</div>
              </div>
              <div class="text-column w-col w-col-4">
                <div class="row-text">175 kills</div>
              </div>
            </div>
            <div class="row-column outlined w-row">
              <div class="text-column w-col w-col-4"><img src="assets/images/M4.svg" loading="lazy" height="24" alt=""></div>
              <div class="text-column w-col w-col-4">
                <div class="row-text">M4A1</div>
              </div>
              <div class="text-column w-col w-col-4">
                <div class="row-text">98 kills</div>
              </div>
            </div>
          </div>
        </div>
        <div class="more-button">
          <div class="button more-details">
            <div class="button-text">View Maps</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="module-section">
    <h1 class="section-heading">Communication</h1>
    <div class="text-block-34">Coming Soon!</div>
  </div>
  <div class="module-section">
    <h1 class="section-heading">Biometrics</h1>
    <div class="text-block-34">Coming Soon!</div>
  </div>
</div>