<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
  <div class="nav-flex">
    <a routerLink="#" class="brand w-nav-brand"><img src="assets/images/Nebula_1.svg" loading="lazy" alt="" class="image-3"></a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <a routerLink="/" class="link-block w-inline-block">
        <div class="icon-span">arrow_back</div>
        <div class="nav-text">Back to Slides</div>
      </a>
      <a routerLink="/old-home" class="link-block w-inline-block">
        <div class="icon-span">space_dashboard</div>
        <div class="nav-text">Dashboard</div>
      </a>
      <a routerLink="/teams" class="link-block w-inline-block">
        <div class="icon-span">groups</div>
        <div class="nav-text">Community</div>
      </a>
      <a routerLink="/insights" class="link-block current w-inline-block">
        <div class="icon-span current">lightbulb</div>
        <div class="nav-text current">Insights</div>
      </a>
      <a routerLink="/modules3" class="link-block w-inline-block">
        <div class="icon-span">dns</div>
        <div class="nav-text">Shop</div>
      </a>
      <a routerLink="/" class="link-block disabled w-inline-block"><img src="assets/images/pistol.svg" loading="lazy" width="24" alt="" class="train-icon">
        <div class="nav-text">Training</div>
      </a>
      <a routerLink="/" class="link-block disabled w-inline-block">
        <div class="icon-span">event</div>
        <div class="nav-text">Events</div>
      </a>
    </nav>
    <div class="w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
  <div class="profile-div"><img src="assets/images/profile.jpg" loading="lazy" alt="" class="profile-pic">
    <div class="text-block">Elaine Jones</div>
    <div class="expand-icon">arrow_drop_up</div>
  </div>
</div>
<div class="chat-bar"><img src="assets/images/chat_white_24dp.svg" loading="lazy" alt="" class="image-4"><img src="assets/images/profile.jpg" loading="lazy" alt="" class="chat-avatar"><img src="assets/images/profile.jpg" loading="lazy" alt="" class="chat-avatar">
  <div class="chat-bar"><img src="assets/images/chat_white_24dp.svg" loading="lazy" alt="" class="image-4"><img src="assets/images/avatar3.jpg" loading="lazy" alt="" class="chat-avatar green"><img src="assets/images/avatar2.jpg" loading="lazy" alt="" class="chat-avatar"><img src="assets/images/avatar4.jpg" loading="lazy" alt="" class="chat-avatar"></div>
</div>
<div class="content">
  <div class="tabs">
    <a routerLink="/insights" class="tab-link w-inline-block">
      <div class="tab-text">Overview</div>
    </a>
    <a routerLink="/insight-events" class="tab-link current w-inline-block">
      <div class="tab-text current">Events</div>
    </a>
    <a routerLink="/insight-modules" class="tab-link w-inline-block">
      <div class="tab-text">Modules</div>
    </a>
  </div>
  <div class="recent-events">
    <h1 class="section-heading">Events</h1>
    <div class="search">
      <div class="search-bar"><img src="assets/images/search_white_24dp.svg" loading="lazy" alt="" class="image-11">
        <div class="text-block-8">Search for Events..</div>
      </div>
      <div class="filter">
        <div class="filter-text">Filter by Type</div><img src="assets/images/arrow_drop_down_white_24dp.svg" loading="lazy" alt="" class="image-12">
      </div>
    </div>
    <div class="table-header-columns w-row">
      <div class="table-column w-col w-col-2">
        <div class="table-header">Event Name</div>
      </div>
      <div class="table-column w-col w-col-2">
        <div class="table-header">Event Type</div>
      </div>
      <div class="table-column w-col w-col-2">
        <div class="table-header">Date</div>
      </div>
      <div class="table-column w-col w-col-2">
        <div class="table-header">Win Ratio</div>
      </div>
      <div class="table-column w-col w-col-2">
        <div class="table-header">KDA Ratio</div>
      </div>
      <div class="table-column w-col w-col-2">
        <div class="table-header">Game Footage Available</div>
      </div>
    </div>
    <a routerLink="#" class="event-link w-inline-block">
      <div class="row-column w-row">
        <div class="text-column w-col w-col-2">
          <div class="row-text">Example Event 1</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Tournament</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">November 04, 2021 10:00 UST</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">89.12%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">92.01%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text icon">check_circle</div>
        </div>
      </div>
    </a>
    <a routerLink="#" class="event-link w-inline-block">
      <div class="row-column w-row">
        <div class="text-column w-col w-col-2">
          <div class="row-text">Example Event 2</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Training</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">November 04, 2021 10:00 UST</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">89.12%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">92.01%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text icon">check_circle</div>
        </div>
      </div>
    </a>
    <a routerLink="#" class="event-link w-inline-block">
      <div class="row-column w-row">
        <div class="text-column w-col w-col-2">
          <div class="row-text">Example Event 3</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Regular Gameplay</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">November 04, 2021 10:00 UST</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">89.12%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">92.01%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text icon red">cancel</div>
        </div>
      </div>
    </a>
    <a routerLink="#" class="event-link w-inline-block">
      <div class="row-column w-row">
        <div class="text-column w-col w-col-2">
          <div class="row-text">Example Event 4</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Team Play</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">November 04, 2021 10:00 UST</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">89.12%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">92.01%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text icon">check_circle</div>
        </div>
      </div>
    </a>
    <a routerLink="#" class="event-link w-inline-block">
      <div class="row-column w-row">
        <div class="text-column w-col w-col-2">
          <div class="row-text">Example Event 5</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Tournament</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Month 00, 2021 00:00 UST</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">89.12%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">92.01%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text icon">check_circle</div>
        </div>
      </div>
    </a>
    <a routerLink="#" class="event-link w-inline-block">
      <div class="row-column w-row">
        <div class="text-column w-col w-col-2">
          <div class="row-text">Example Event 6</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Tournament</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Month 00, 2021 00:00 UST</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">89.12%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">92.01%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text icon">check_circle</div>
        </div>
      </div>
    </a>
    <a routerLink="#" class="event-link w-inline-block">
      <div class="row-column w-row">
        <div class="text-column w-col w-col-2">
          <div class="row-text">Example Event 7</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Tournament</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Month 00, 2021 00:00 UST</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">89.12%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">92.01%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text icon">check_circle</div>
        </div>
      </div>
    </a>
    <a routerLink="#" class="event-link w-inline-block">
      <div class="row-column w-row">
        <div class="text-column w-col w-col-2">
          <div class="row-text">Example Event 8</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Tournament</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Month 00, 2021 00:00 UST</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">89.12%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">92.01%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text icon">check_circle</div>
        </div>
      </div>
    </a>
    <a routerLink="#" class="event-link w-inline-block">
      <div class="row-column w-row">
        <div class="text-column w-col w-col-2">
          <div class="row-text">Example Event 9</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Tournament</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Month 00, 2021 00:00 UST</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">89.12%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">92.01%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text icon">check_circle</div>
        </div>
      </div>
    </a>
    <a routerLink="#" class="event-link w-inline-block">
      <div class="row-column w-row">
        <div class="text-column w-col w-col-2">
          <div class="row-text">Example Event 10</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Tournament</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Month 00, 2021 00:00 UST</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">89.12%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">92.01%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text icon">check_circle</div>
        </div>
      </div>
    </a>
    <a routerLink="#" class="event-link w-inline-block">
      <div class="row-column w-row">
        <div class="text-column w-col w-col-2">
          <div class="row-text">Example Event 11</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Tournament</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Month 00, 2021 00:00 UST</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">89.12%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">92.01%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text icon">check_circle</div>
        </div>
      </div>
    </a>
    <a routerLink="#" class="event-link w-inline-block">
      <div class="row-column w-row">
        <div class="text-column w-col w-col-2">
          <div class="row-text">Example Event 12</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Tournament</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Month 00, 2021 00:00 UST</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">89.12%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">92.01%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text icon">check_circle</div>
        </div>
      </div>
    </a>
    <a routerLink="#" class="event-link w-inline-block">
      <div class="row-column w-row">
        <div class="text-column w-col w-col-2">
          <div class="row-text">Example Event 13</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Tournament</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Month 00, 2021 00:00 UST</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">89.12%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">92.01%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text icon">check_circle</div>
        </div>
      </div>
    </a>
    <a routerLink="#" class="event-link w-inline-block">
      <div class="row-column w-row">
        <div class="text-column w-col w-col-2">
          <div class="row-text">Example Event 14</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Tournament</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Month 00, 2021 00:00 UST</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">89.12%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">92.01%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text icon">check_circle</div>
        </div>
      </div>
    </a>
    <a routerLink="#" class="event-link w-inline-block">
      <div class="row-column w-row">
        <div class="text-column w-col w-col-2">
          <div class="row-text">Example Event 15</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Tournament</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">Month 00, 2021 00:00 UST</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">89.12%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text">92.01%</div>
        </div>
        <div class="text-column w-col w-col-2">
          <div class="row-text icon">check_circle</div>
        </div>
      </div>
    </a>
  </div>
</div>