<div class="slides">
  <div class="top-nav">
    <div class="dashboard-button">
      <a routerLink="/old-home" class="dashboard-link w-inline-block">
        <div class="icon-span current">space_dashboard</div>
        <div class="nav-text current">Jump to Nebula</div>
      </a>
    </div>
    <div class="slide-nav">
      <a routerLink="/modules2" class="link-block-3 w-inline-block">
        <div class="next-slide">
          <div class="text-block-20">chevron_left</div>
          <div class="text-block-19">Previous Slide</div>
        </div>
      </a>
      <a routerLink="/old-home" class="link-block-4 w-inline-block">
        <div class="next-slide">
          <div class="text-block-19">Go To Dashboard</div>
          <div class="text-block-20">navigate_next</div>
        </div>
      </a>
    </div>
  </div>
  <div class="slide-content _9">
    <div class="div-block-23"><img src="assets/images/full-logo_1.svg" loading="lazy" alt="" class="image-16">
      <div class="text-block-39">Providing the Building Blocks for ESports Next Stars</div>
      <div class="text-block-42">In Summary, we believe Nebula represents a holistic and effective approach to improve player game performance, reduce mental and physical stress with information, and enhance the player experience across all skill levels</div>
      <div class="div-block-25"></div>
    </div>
    <div class="div-block-24"></div>
  </div>
</div>