<div class="slides">
  <div class="top-nav">
    <div class="dashboard-button">
      <a routerLink="/old-home" class="dashboard-link w-inline-block">
        <div class="icon-span current">space_dashboard</div>
        <div class="nav-text current">Jump to Nebula</div>
      </a>
    </div>
    <div class="slide-nav">
      <a routerLink="/the-parts" class="link-block-3 w-inline-block">
        <div class="next-slide">
          <div class="text-block-20">chevron_left</div>
          <div class="text-block-19">Previous Slide</div>
        </div>
      </a>
      <a routerLink="/modules2" class="link-block-4 w-inline-block">
        <div class="next-slide">
          <div class="text-block-19">Next Slide</div>
          <div class="text-block-20">navigate_next</div>
        </div>
      </a>
    </div>
  </div>
  <div class="slide-content _8">
    <div class="skill-column _1"></div>
    <div class="skill-column _2">
      <div class="text-block-36">Modules - Data Handling and Design</div>
      <div class="text-block-38">Player Position with Associated Loadout</div>
    </div>
    <div class="skill-column _3">
      <div class="div-block-22 _1"></div>
      <div class="div-block-22 _2"></div>
    </div>
    <div class="skill-column _3">
      <div class="div-block-22 _3"></div>
      <div class="div-block-22 _4"></div>
    </div>
  </div>
</div>