<div class="slides">
  <div class="top-nav">
    <div class="dashboard-button">
      <a routerLink="/old-home" class="dashboard-link w-inline-block">
        <div class="icon-span current">space_dashboard</div>
        <div class="nav-text current">Jump to Nebula</div>
      </a>
    </div>
    <div class="slide-nav">
      <a routerLink="/modules" class="link-block-3 w-inline-block">
        <div class="next-slide">
          <div class="text-block-20">chevron_left</div>
          <div class="text-block-19">Previous Slide</div>
        </div>
      </a>
      <a routerLink="/summary" class="link-block-4 w-inline-block">
        <div class="next-slide">
          <div class="text-block-19">Next Slide</div>
          <div class="text-block-20">navigate_next</div>
        </div>
      </a>
    </div>
  </div>
  <div class="slide-content _7">
    <div class="text-block-40">Process and Tools</div>
    <div class="design"></div>
    <div class="flow"></div>
    <div class="develop"></div>
  </div>
</div>