<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
  <div class="nav-flex">
    <a routerLink="/#" class="brand w-nav-brand"><img src="assets/images/Nebula_1.svg" loading="lazy" alt="" class="image-3"></a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <a routerLink="/" class="link-block w-inline-block">
        <div class="icon-span">arrow_back</div>
        <div class="nav-text">Back to Slides</div>
      </a>
      <a routerLink="/old-home" aria-current="page" class="link-block w-inline-block w--current">
        <div class="icon-span current">space_dashboard</div>
        <div class="nav-text current">Dashboard</div>
      </a>
      <a routerLink="/teams" class="link-block w-inline-block">
        <div class="icon-span">groups</div>
        <div class="nav-text">Community</div>
      </a>
      <a routerLink="/insights" class="link-block w-inline-block">
        <div class="icon-span">lightbulb</div>
        <div class="nav-text">Insights</div>
      </a>
      <a routerLink="/modules3" class="link-block w-inline-block">
        <div class="icon-span">store</div>
        <div class="nav-text">Shop</div>
      </a>
      <a routerLink="/" class="link-block disabled w-inline-block"><img src="assets/images/pistol.svg" loading="lazy" width="24" alt="" class="train-icon">
        <div class="nav-text">Training</div>
      </a>
      <a routerLink="/" class="link-block disab w-inline-block">
        <div class="icon-span">event</div>
        <div class="nav-text">Events</div>
      </a>
    </nav>
    <div class="w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
  <div class="profile-div"><img src="assets/images/profile.jpg" loading="lazy" alt="" class="profile-pic">
    <div class="text-block">Elaine Jones</div>
    <div class="expand-icon">arrow_drop_up</div>
  </div>
</div>
<div class="chat-bar"><img src="assets/images/chat_white_24dp.svg" loading="lazy" alt="" class="image-4"><img src="assets/images/profile.jpg" loading="lazy" alt="" class="chat-avatar"><img src="assets/images/profile.jpg" loading="lazy" alt="" class="chat-avatar"></div>
<div class="chat-bar"><img src="assets/images/chat_white_24dp.svg" loading="lazy" alt="" class="image-4"><img src="assets/images/profile.jpg" loading="lazy" alt="" class="chat-avatar"><img src="assets/images/profile.jpg" loading="lazy" alt="" class="chat-avatar">
  <div class="chat-bar"><img src="assets/images/chat_white_24dp.svg" loading="lazy" alt="" class="image-4"><img src="assets/images/avatar3.jpg" loading="lazy" alt="" class="chat-avatar green"><img src="assets/images/avatar2.jpg" loading="lazy" alt="" class="chat-avatar"><img src="assets/images/avatar4.jpg" loading="lazy" alt="" class="chat-avatar"></div>
</div>
<div class="content">
  <div class="latest-stats">
    <h1 class="section-heading">Your Latest Stats</h1>
    <div class="w-row">
      <div class="column-8 w-col w-col-3">
        <div class="stat-guage">
          <div class="gauge-title">
            <div class="gauge-name">KDA Ratio</div><img src="assets/images/info_white_24dp.svg" loading="lazy" alt="" class="image-7">
          </div>
          <div class="gauge-value-div">
            <div class="gauge-value">73.68%</div><img src="assets/images/trending_up_white_24dp.svg" loading="lazy" alt="">
          </div><img src="assets/images/chart.png" loading="lazy" alt="" class="image-6">
        </div>
      </div>
      <div class="w-col w-col-3">
        <div class="stat-guage">
          <div class="gauge-title">
            <div class="gauge-name">Aim Ratio</div><img src="assets/images/info_white_24dp.svg" loading="lazy" alt="" class="image-7">
          </div>
          <div class="gauge-value-div">
            <div class="gauge-value">73.68%</div><img src="assets/images/trending_up_white_24dp.svg" loading="lazy" alt="">
          </div><img src="assets/images/chart.png" loading="lazy" alt="" class="image-6">
        </div>
      </div>
      <div class="w-col w-col-3">
        <div class="stat-guage">
          <div class="gauge-title">
            <div class="gauge-name">Movement Score</div><img src="assets/images/info_white_24dp.svg" loading="lazy" alt="" class="image-7">
          </div>
          <div class="gauge-value-div">
            <div class="gauge-value warn">122</div><img src="assets/images/trending_down_white_24dp.svg" loading="lazy" alt="">
          </div><img src="assets/images/chart.png" loading="lazy" alt="" class="image-6">
        </div>
      </div>
      <div class="w-col w-col-3">
        <div class="stat-guage">
          <div class="gauge-title">
            <div class="gauge-name">Communication Score</div><img src="assets/images/info_white_24dp.svg" loading="lazy" alt="" class="image-7">
          </div>
          <div class="gauge-value-div">
            <div class="gauge-value">101</div><img src="assets/images/trending_up_white_24dp.svg" loading="lazy" alt="">
          </div><img src="assets/images/chart.png" loading="lazy" alt="" class="image-6">
        </div>
      </div>
    </div>
    <div class="columns w-row">
      <div class="column-8 w-col w-col-6">
        <div class="insight"><img src="assets/images/idea.svg" loading="lazy" alt="" class="image-9">
          <div class="text-block-3">Load Out 2 has the highest rate of success at 79%</div>
          <div class="button">
            <div class="button-text">View Load Out 2</div>
          </div>
        </div>
        <div class="stat-guage">
          <div class="legend addpadd">
            <div class="chart-title">
              <div class="subtitle">Load out Configurations Wins vs Loss</div>
            </div>
            <div class="columns-2 w-row">
              <div class="column-9 w-col w-col-6">
                <div class="green-dot"></div>
                <div class="text-block-2">Wins</div>
              </div>
              <div class="column-10 w-col w-col-6">
                <div class="pink-dot"></div>
                <div class="text-block-2">Loses</div>
              </div>
            </div>
          </div><img src="assets/images/bar-chart.png" loading="lazy" width="100" alt="" class="barchart">
        </div>
      </div>
      <div class="w-col w-col-6">
        <div class="insight"><img src="assets/images/idea.svg" loading="lazy" alt="" class="image-9">
          <div class="text-block-3">Your pistol accuracy is 28% better than rifle. </div>
          <div class="button">
            <div class="button-text">Train your rifle skills</div>
          </div>
        </div>
        <div class="stat-guage">
          <div class="legend scatterplot">
            <div class="subtitle">Aim time vs Accuracy</div>
            <div class="columns-2 w-row">
              <div class="column-9 w-col w-col-6">
                <div class="green-dot"></div>
                <div class="text-block-2">Rifle</div>
              </div>
              <div class="column-10 w-col w-col-6">
                <div class="div-block-5"></div>
                <div class="text-block-2">Pistol</div>
              </div>
            </div>
          </div><img src="assets/images/scatterplot.png" loading="lazy" alt="" class="image-8">
        </div>
      </div>
    </div>
  </div>
  <div class="upcoming-events">
    <h1 class="section-heading upcoming-events">Upcoming Events</h1>
    <div class="w-row">
      <div class="column-7 w-col w-col-3">
        <div class="event-background">
          <div class="event-info">
            <h1 class="event-code tournament">Tournamet</h1>
            <div class="event-title">CS:GO Tournament of the Americas</div>
            <div class="event-dates">December 17th, 2021 10:00 UST</div>
            <div class="event-copy">Join the biggest Counter Strike Global Offensive event to hit the Americas ever!</div>
          </div>
          <div class="event-picture">
            <div class="event-icon"><img src="assets/images/emoji_events_white_24dp.svg" loading="lazy" alt="" class="evnt-icon"></div>
          </div>
        </div>
      </div>
      <div class="w-col w-col-3">
        <div class="event-background">
          <div class="event-info">
            <h1 class="event-code training">Training</h1>
            <div class="event-title">Team Strike - CS:GO Tournament Review</div>
            <div class="event-dates">December 18th, 2021 13:30 UST</div>
            <div class="event-copy">Let&#x27;s review game footage and discuss lessons learned.</div>
          </div>
          <div class="event-picture _2">
            <div class="event-icon"><img src="assets/images/desktop_windows_white_24dp.svg" loading="lazy" alt="" class="evnt-icon"></div>
          </div>
        </div>
      </div>
      <div class="w-col w-col-3">
        <div class="event-background">
          <div class="event-info">
            <h1 class="event-code gameplay">Game Play</h1>
            <div class="event-title">Team Strike - Weekly Game</div>
            <div class="event-dates">December 22nd, 2021 12:00 UST</div>
            <div class="event-copy">This is the weekly game for us to focus on building core competencies </div>
          </div>
          <div class="event-picture _3">
            <div class="event-icon"><img src="assets/images/sports_esports_white_24dp.svg" loading="lazy" alt="" class="evnt-icon"></div>
          </div>
        </div>
      </div>
      <div class="w-col w-col-3">
        <div class="event-background addevent">
          <h1 class="add-event">+ Add Event</h1>
        </div>
      </div>
    </div>
  </div>
</div>