<div class="slides">
  <div class="top-nav">
    <div class="dashboard-button">
      <a routerLink="/old-home" class="dashboard-link w-inline-block">
        <div class="icon-span current">space_dashboard</div>
        <div class="nav-text current">Jump to Nebula</div>
      </a>
    </div>
    <div class="slide-nav">
      <a routerLink="/the-solution2" class="link-block-3 w-inline-block">
        <div class="next-slide">
          <div class="text-block-20">chevron_left</div>
          <div class="text-block-19">Previous Slide</div>
        </div>
      </a>
      <a routerLink="/modules" class="link-block-4 w-inline-block">
        <div class="next-slide">
          <div class="text-block-19">Next Slide</div>
          <div class="text-block-20">navigate_next</div>
        </div>
      </a>
    </div>
  </div>
  <div class="slide-content _6">
    <div class="text-block-37">Nebula at a Glance</div>
    <div class="div-block-19">
      <div class="div-column">
        <div class="text-block-33">space_dashboard</div>
        <h1 class="heading-6">Dashboard</h1>
        <div class="text-block-32">Provides a landing page to surface the most relevant and timely information</div>
      </div>
      <div class="div-column">
        <div class="text-block-33">lightbulb</div>
        <h1 class="heading-6">Insights</h1>
        <div class="text-block-32">Assisted exploration of game-related data within the contexts of events and modules</div>
      </div>
      <div class="div-column">
        <div class="text-block-33">space_dashboard</div>
        <h1 class="heading-6">Shop</h1>
        <div class="text-block-32">Connects players with companies offering data models to enhance analysis and gameplay</div>
      </div>
      <div class="div-column">
        <div class="text-block-33">event</div>
        <h1 class="heading-6">Events</h1>
        <div class="text-block-32">A vehicle to manage training and competition for individual players, teams or organizations</div>
      </div>
      <div class="div-column">
        <div class="text-block-33">dns</div>
        <h1 class="heading-6">Modules</h1>
        <div class="text-block-32">Modules represent the building blocks of our platform...</div>
      </div>
    </div>
    <div class="div-block-20"></div>
  </div>
</div>