<div class="slides">
  <div class="top-nav">
    <div class="dashboard-button">
      <a routerLink="/old-home" class="dashboard-link w-inline-block">
        <div class="icon-span current">space_dashboard</div>
        <div class="nav-text current">Jump to Nebula</div>
      </a>
    </div>
    <div class="slide-nav">
      <a routerLink="/" class="link-block-3 w-inline-block">
        <div class="next-slide">
          <div class="text-block-20">chevron_left</div>
          <div class="text-block-19">Previous Slide</div>
        </div>
      </a>
      <a routerLink="/our-goals" class="link-block-4 w-inline-block">
        <div class="next-slide">
          <div class="text-block-19">Next Slide</div>
          <div class="text-block-20">navigate_next</div>
        </div>
      </a>
    </div>
  </div>
  <div class="slide-content _2">
    <div class="left-div">
      <h1 class="heading-5 spacing">Is every minute I&#x27;m playing contributing to my goals?</h1>
      <div class="text-block-21">Advancement in Esports, as with any professional athletic program, requires a significant investment of time, energy, and resources.  As players improve, their ability to accurately self-assess their own strengths and weaknesses diminishes.</div>
    </div>
    <div class="spacer"></div>
    <div class="right-div">
      <div class="bulletpoint-block"><img src="assets/images/questions.svg" loading="lazy" width="60" alt="" class="s_image">
        <div class="text-block-23">Lack of insight into factors contributing to stalled improvement</div>
      </div>
      <div class="bulletpoint-block"><img src="assets/images/dimish-return.svg" loading="lazy" width="60" alt="" class="s_image">
        <div class="text-block-23">Diminishing returns for extended gameplay and training</div>
      </div>
      <div class="bulletpoint-block"><img src="assets/images/complicated.svg" loading="lazy" width="70" alt="" class="s_image">
        <div class="text-block-23">Solutions are distributed across multiple tools</div>
      </div>
    </div>
  </div>
</div>