<div class="slides">
  <div class="top-nav">
    <div class="dashboard-button">
      <a routerLink="/old-home" class="dashboard-link w-inline-block">
        <div class="icon-span current">space_dashboard</div>
        <div class="nav-text current">Jump to Nebula</div>
      </a>
    </div>
    <div class="slide-nav">
      <a routerLink="/the-solution" class="link-block-3 w-inline-block">
        <div class="next-slide">
          <div class="text-block-20">chevron_left</div>
          <div class="text-block-19">Previous Slide</div>
        </div>
      </a>
      <a routerLink="/the-parts" class="link-block-4 w-inline-block">
        <div class="next-slide">
          <div class="text-block-19">Next Slide</div>
          <div class="text-block-20">navigate_next</div>
        </div>
      </a>
    </div>
  </div>
  <div class="slide-content _5">
    <div class="div-block-17">
      <div class="text-block-30">Designing a <span class="text-span-6">Platform</span> for Growth</div>
    </div>
    <div class="div-block-16">
      <div class="text-block-31">Nebula as a Platform is designed to establish an environment for optimal data capture as well as model training and learning with opportunities for performance enhancement through edge computing. <br><br>It also provides multiple avenues for commercialization of models, focused player-training scenarios, events and hardware.</div>
    </div>
  </div>
</div>