<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
  <div class="nav-flex">
    <a href="#" class="brand w-nav-brand"><img src="assets/images/Nebula_1.svg" loading="lazy" alt="" class="image-3"></a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <a routerLink="/" class="link-block w-inline-block">
        <div class="icon-span">arrow_back</div>
        <div class="nav-text">Back to Slides</div>
      </a>
      <a routerLink="/old-home" class="link-block w-inline-block">
        <div class="icon-span">space_dashboard</div>
        <div class="nav-text">Dashboard</div>
      </a>
      <a routerLink="/teams" class="link-block w-inline-block">
        <div class="icon-span">groups</div>
        <div class="nav-text">Community</div>
      </a>
      <a routerLink="/insights" class="link-block w-inline-block">
        <div class="icon-span">lightbulb</div>
        <div class="nav-text">Insights</div>
      </a>
      <a routerLink="/modules" aria-current="page" class="link-block current w-inline-block w--current">
        <div class="icon-span current">store</div>
        <div class="nav-text current">Shop</div>
      </a>
      <a routerLink="/" class="link-block disabled w-inline-block"><img src="assets/images/pistol.svg" loading="lazy" width="24" alt="" class="train-icon">
        <div class="nav-text">Training</div>
      </a>
      <a routerLink="/" class="link-block disabled w-inline-block">
        <div class="icon-span">event</div>
        <div class="nav-text">Events</div>
      </a>
    </nav>
    <div class="w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
  <div class="profile-div"><img src="assets/images/profile.jpg" loading="lazy" alt="" class="profile-pic">
    <div class="text-block">Elaine Jones</div>
    <div class="expand-icon">arrow_drop_up</div>
  </div>
</div>
<div class="chat-bar"><img src="assets/images/chat_white_24dp.svg" loading="lazy" alt="" class="image-4"><img src="assets/images/profile.jpg" loading="lazy" alt="" class="chat-avatar"><img src="assets/images/profile.jpg" loading="lazy" alt="" class="chat-avatar">
  <div class="chat-bar"><img src="assets/images/chat_white_24dp.svg" loading="lazy" alt="" class="image-4"><img src="assets/images/avatar3.jpg" loading="lazy" alt="" class="chat-avatar green"><img src="assets/images/avatar2.jpg" loading="lazy" alt="" class="chat-avatar"><img src="assets/images/avatar4.jpg" loading="lazy" alt="" class="chat-avatar"></div>
</div>
<div class="content">
  <div class="marketplace-banner">
    <div class="banner-text">
      <div class="banner-heading">Want to bring your gameplay to the next level?</div>
      <div class="text-block-12">Elevate your gameplay and Accelerate your training impact through AI-Assisted, data-driven insights that will reveal details of how you play and what needs to improve to launch you into the next strata of performance.</div>
    </div>
  </div>
  <div class="featured-marketplace">
    <div class="section-header">
      <h1 class="section-heading big">Featured Modules</h1>
    </div>
    <div class="flex">
      <div class="columns-4 w-row">
        <div class="column-17 w-col w-col-4">
          <div class="marketplace-tile">
            <div class="image comms"></div>
            <div class="profile-stats notfollowed">
              <div class="top-flex">
                <div class="header-flex">
                  <div class="market-tile-header">Communication Module</div>
                  <div class="module-stats">
                    <div class="like small">favorite</div>
                    <div class="like-number">315</div>
                  </div>
                </div>
                <div class="release-date">Latest Release: Nov 21, 2021</div>
                <div class="module-description">Track the amount and quality of your team&#x27;s communication during training and gameplay</div>
              </div>
              <div class="bottom-flex">
                <div class="price">$20.00</div>
                <div class="actions">
                  <div class="primary-buttons">
                    <div class="button buynow">
                      <div class="button-text">Buy Now</div>
                    </div>
                  </div>
                  <div class="like">favorite_border</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column-19 w-col w-col-4">
          <div class="marketplace-tile">
            <div class="image bio"></div>
            <div class="profile-stats notfollowed">
              <div class="top-flex">
                <div class="header-flex">
                  <div class="market-tile-header">Biometric Module</div>
                  <div class="module-stats">
                    <div class="like small">favorite</div>
                    <div class="like-number">216</div>
                  </div>
                </div>
                <div class="release-date">Latest Release: Nov 21, 2021</div>
                <div class="module-description">Monitor your biometrics during gameplay and review the data to discover patterns</div>
              </div>
              <div class="bottom-flex">
                <div class="price">$10.00 <span class="text-span">+ hardware</span></div>
                <div class="actions">
                  <div class="primary-buttons">
                    <div class="button buynow">
                      <div class="button-text">Buy Now</div>
                    </div>
                  </div>
                  <div class="like">favorite_border</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column-20 w-col w-col-4">
          <div class="marketplace-tile">
            <div class="image aim"></div>
            <div class="profile-stats notfollowed">
              <div class="top-flex">
                <div class="header-flex">
                  <div class="market-tile-header">Aim Module</div>
                  <div class="module-stats">
                    <div class="like small">favorite</div>
                    <div class="like-number">467</div>
                  </div>
                </div>
                <div class="release-date">Latest Release: Nov 21, 2021</div>
                <div class="module-description">Track your aim stats across all weapons</div>
              </div>
              <div class="bottom-flex">
                <div class="price">$15.00</div>
                <div class="actions">
                  <div class="primary-buttons">
                    <div class="button buynow">
                      <div class="button-text">Buy Now</div>
                    </div>
                  </div>
                  <div class="like">favorite_border</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-block-8">
        <div class="text-block-15">navigate_next</div>
      </div>
    </div>
    <div class="w-row">
      <div class="column-24 w-col w-col-3"></div>
      <div class="column-25 w-col w-col-3"></div>
      <div class="column-26 w-col w-col-3"></div>
      <div class="column-27 w-col w-col-3"></div>
    </div>
  </div>
  <div class="marketplace">
    <div class="section-header">
      <h1 class="section-heading">Shop Marketplace</h1>
    </div>
    <div class="search">
      <div class="search-bar"><img src="assets/images/search_white_24dp.svg" loading="lazy" alt="" class="image-11">
        <div class="text-block-8">Search for Modules..</div>
      </div>
    </div>
    <div class="columns-4 w-row">
      <div class="column-17 w-col w-col-3">
        <div class="marketplace-tile">
          <div class="image _1"></div>
          <div class="profile-stats notfollowed">
            <div class="top-flex">
              <div class="header-flex">
                <div class="market-tile-header">Module 1</div>
                <div class="module-stats">
                  <div class="like small">favorite</div>
                  <div class="like-number">315</div>
                </div>
              </div>
              <div class="release-date">Latest Release: Nov 21, 2021</div>
              <div class="module-description">This is a brief description of the value the module can provide players</div>
            </div>
            <div class="bottom-flex">
              <div class="price">$20.00</div>
              <div class="actions">
                <div class="primary-buttons">
                  <div class="button buynow">
                    <div class="button-text">Buy Now</div>
                  </div>
                </div>
                <div class="like">favorite_border</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-19 w-col w-col-3">
        <div class="marketplace-tile">
          <div class="image _2"></div>
          <div class="profile-stats notfollowed">
            <div class="top-flex">
              <div class="header-flex">
                <div class="market-tile-header">Module 2</div>
                <div class="module-stats">
                  <div class="like small">favorite</div>
                  <div class="like-number">216</div>
                </div>
              </div>
              <div class="release-date">Latest Release: Nov 21, 2021</div>
              <div class="module-description">This is a brief description of the value the module can provide players</div>
            </div>
            <div class="bottom-flex">
              <div class="price">$20.00</div>
              <div class="actions">
                <div class="primary-buttons">
                  <div class="button buynow">
                    <div class="button-text">Buy Now</div>
                  </div>
                </div>
                <div class="like">favorite_border</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-20 w-col w-col-3">
        <div class="marketplace-tile">
          <div class="image _3"></div>
          <div class="profile-stats notfollowed">
            <div class="top-flex">
              <div class="header-flex">
                <div class="market-tile-header">Module 3</div>
                <div class="module-stats">
                  <div class="like small">favorite</div>
                  <div class="like-number">467</div>
                </div>
              </div>
              <div class="release-date">Latest Release: Nov 21, 2021</div>
              <div class="module-description">This is a brief description of the value the module can provide players</div>
            </div>
            <div class="bottom-flex">
              <div class="price">$30.00</div>
              <div class="actions">
                <div class="primary-buttons">
                  <div class="button buynow">
                    <div class="button-text">Buy Now</div>
                  </div>
                </div>
                <div class="like">favorite_border</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-col w-col-3">
        <div class="marketplace-tile">
          <div class="image _4"></div>
          <div class="profile-stats notfollowed">
            <div class="top-flex">
              <div class="header-flex">
                <div class="market-tile-header">Module 4</div>
                <div class="module-stats">
                  <div class="like small">favorite</div>
                  <div class="like-number">467</div>
                </div>
              </div>
              <div class="release-date">Latest Release: Nov 21, 2021</div>
              <div class="module-description">This is a brief description of the value the module can provide players</div>
            </div>
            <div class="bottom-flex">
              <div class="price">$5.00</div>
              <div class="actions">
                <div class="primary-buttons">
                  <div class="button buynow">
                    <div class="button-text">Buy Now</div>
                  </div>
                </div>
                <div class="like">favorite_border</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-row">
      <div class="column-24 w-col w-col-3"></div>
      <div class="column-25 w-col w-col-3"></div>
      <div class="column-26 w-col w-col-3"></div>
      <div class="column-27 w-col w-col-3"></div>
    </div>
  </div>
</div>