<div class="slides">
    <div class="top-nav">
      <div class="dashboard-button">
        <a routerLink="/old-home" class="dashboard-link w-inline-block">
          <div class="icon-span current">space_dashboard</div>
          <div class="nav-text current">Jump to Nebula</div>
        </a>
      </div>
      <div class="slide-nav">
        <a routerLink="/presentation-2-why" class="link-block-3 w-inline-block">
          <div class="next-slide">
            <div class="text-block-20">chevron_left</div>
            <div class="text-block-19">Previous Slide</div>
          </div>
        </a>
        <a routerLink="/the-solution" class="link-block-4 w-inline-block">
          <div class="next-slide">
            <div class="text-block-19">Next Slide</div>
            <div class="text-block-20">navigate_next</div>
          </div>
        </a>
      </div>
    </div>
    <div class="slide-content _3">
      <div class="left3"></div>
      <div class="right-3">
        <div class="text-block-24"><span class="text-span-3">OUR GOAL</span> is centered around providing focused, high impact training through data-driven insights to improve player success and deliver the following benefits:</div>
        <div class="goal-row">
          <div class="large-dot">
            <div class="text-block-25">check_circle</div>
          </div>
          <div class="div-block-12">
            <div class="text-block-27">01</div>
            <div class="text-block-26">Reduce mental health and physical use Injuries by giving users real-time feedback on how when their training or play is not longer beneficial</div>
          </div>
        </div>
        <div class="goal-row">
          <div class="large-dot">
            <div class="text-block-25">check_circle</div>
          </div>
          <div class="div-block-13">
            <div class="text-block-27">02</div>
            <div class="text-block-26">Improve tactical decision-making during gameplay by giving players the data to train effectively. Future goals include in-game, real-time insights</div>
          </div>
        </div>
        <div class="goal-row">
          <div class="large-dot">
            <div class="text-block-25">check_circle</div>
          </div>
          <div class="div-block-14">
            <div class="text-block-27">03</div>
            <div class="text-block-26">Improve pre-game planning by giving coaches the insights they need to strategize</div>
          </div>
        </div>
        <div class="goal-row">
          <div class="large-dot">
            <div class="text-block-25">check_circle</div>
          </div>
          <div class="div-block-15">
            <div class="text-block-27">04</div>
            <div class="text-block-26">Enhance post-game analysis and provide actionable intelligence</div>
          </div>
        </div>
      </div>
      <div class="div-block-9"></div>
    </div>
  </div>