<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
  <div class="nav-flex">
    <a routerLink="/#" class="brand w-nav-brand"><img src="assets/images/Nebula_1.svg" loading="lazy" alt="" class="image-3"></a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <a routerLink="/" class="link-block w-inline-block">
        <div class="icon-span">arrow_back</div>
        <div class="nav-text">Back to Slides</div>
      </a>
      <a routerLink="/old-home" class="link-block w-inline-block">
        <div class="icon-span">space_dashboard</div>
        <div class="nav-text">Dashboard</div>
      </a>
      <a routerLink="/teams" aria-current="page" class="link-block current w-inline-block w--current">
        <div class="icon-span current">groups</div>
        <div class="nav-text current">Community</div>
      </a>
      <a routerLink="/insights" class="link-block w-inline-block">
        <div class="icon-span">lightbulb</div>
        <div class="nav-text">Insights</div>
      </a>
      <a routerLink="/modules3" class="link-block w-inline-block">
        <div class="icon-span">store</div>
        <div class="nav-text">Shop</div>
      </a>
      <a routerLink="/" class="link-block disabled w-inline-block"><img src="assets/images/pistol.svg" loading="lazy" width="24" alt="" class="train-icon">
        <div class="nav-text">Training</div>
      </a>
      <a routerLink="/" class="link-block disabled w-inline-block">
        <div class="icon-span">event</div>
        <div class="nav-text">Events</div>
      </a>
    </nav>
    <div class="w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
  <div class="profile-div"><img src="assets/images/profile.jpg" loading="lazy" alt="" class="profile-pic">
    <div class="text-block">Elaine Jones</div>
  </div>
</div>
<div class="chat-bar"><img src="assets/images/chat_white_24dp.svg" loading="lazy" alt="" class="image-4"><img src="assets/images/profile.jpg" loading="lazy" alt="" class="chat-avatar"><img src="assets/images/profile.jpg" loading="lazy" alt="" class="chat-avatar">
  <div class="chat-bar"><img src="assets/images/chat_white_24dp.svg" loading="lazy" alt="" class="image-4"><img src="assets/images/avatar3.jpg" loading="lazy" alt="" class="chat-avatar green"><img src="assets/images/avatar2.jpg" loading="lazy" alt="" class="chat-avatar"><img src="assets/images/avatar4.jpg" loading="lazy" alt="" class="chat-avatar"></div>
</div>
<div class="content">
  <div class="team">
    <div class="section-header">
      <h1 class="section-heading">Your Team: The Reapers</h1>
    </div>
    <div class="w-row">
      <div class="column-8 w-col w-col-3">
        <div class="stat-guage teammember">
          <div class="profile-title"><img src="assets/images/avatar-1.jpg" loading="lazy" width="60" alt="" class="avatar">
            <div class="profile">
              <div class="text-block-5">Gunner9124</div>
              <div class="status">
                <div class="status-indicator"></div>
                <div class="status-text">Online</div>
              </div>
            </div>
          </div>
          <div class="profile-stats">
            <div class="stat-columns w-row">
              <div class="w-col w-col-4">
                <div class="stat-title">Win Ratio</div>
              </div>
              <div class="w-col w-col-4">
                <div class="stat-number">96.38%</div>
              </div>
              <div class="w-col w-col-4">
                <div class="ranking-value">174/13987</div>
              </div>
            </div>
            <div class="stat-columns w-row">
              <div class="w-col w-col-4">
                <div class="stat-title">KDA</div>
              </div>
              <div class="w-col w-col-4">
                <div class="stat-number">1.62</div>
              </div>
              <div class="w-col w-col-4">
                <div class="ranking-value">124/13987</div>
              </div>
            </div>
            <div class="stat-columns w-row">
              <div class="w-col w-col-4">
                <div class="stat-title">Accuracy</div>
              </div>
              <div class="w-col w-col-4">
                <div class="stat-number">91.93%</div>
              </div>
              <div class="w-col w-col-4">
                <div class="ranking-value">174/13987</div>
              </div>
            </div>
          </div>
          <div class="weapons-stats">
            <div class="text-block-7">Top 3 Weapons - 300 Total Kills</div>
            <div class="color-bars w-row">
              <div class="column-11 w-col w-col-6"></div>
              <div class="column-12 w-col w-col-4"></div>
              <div class="column-13 w-col w-col-2"></div>
            </div>
          </div>
          <div class="legend-columns w-row">
            <div class="weapon-column w-col w-col-4">
              <div class="weapon">
                <div class="legend-dot"></div><img src="assets/images/AK-47.svg" loading="lazy" alt="" class="gunpic">
                <div class="weaponlabel">AK-47</div>
                <div class="killratio">162/300</div>
              </div>
            </div>
            <div class="w-col w-col-4">
              <div class="weapon">
                <div class="legend-dot pink"></div><img src="assets/images/M4.svg" loading="lazy" alt="" class="gunpic">
                <div class="weaponlabel">M4A1</div>
                <div class="killratio">162/300</div>
              </div>
            </div>
            <div class="w-col w-col-4">
              <div class="weapon">
                <div class="legend-dot purple"></div><img src="assets/images/M24.svg" loading="lazy" alt="" class="gunpic">
                <div class="weaponlabel">M24</div>
                <div class="killratio">162/300</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-col w-col-3">
        <div class="stat-guage teammember">
          <div class="profile-title"><img src="assets/images/avatar9.jpg" loading="lazy" width="60" alt="" class="avatar">
            <div class="profile">
              <div class="text-block-5">Gamergrl</div>
              <div class="status">
                <div class="status-indicator"></div>
                <div class="status-text">Online</div>
              </div>
            </div>
          </div>
          <div class="profile-stats">
            <div class="stat-columns w-row">
              <div class="w-col w-col-4">
                <div class="stat-title">Win Ratio</div>
              </div>
              <div class="w-col w-col-4">
                <div class="stat-number">96.38%</div>
              </div>
              <div class="w-col w-col-4">
                <div class="ranking-value">174/13987</div>
              </div>
            </div>
            <div class="stat-columns w-row">
              <div class="w-col w-col-4">
                <div class="stat-title">KDA</div>
              </div>
              <div class="w-col w-col-4">
                <div class="stat-number">1.87</div>
              </div>
              <div class="w-col w-col-4">
                <div class="ranking-value">124/13987</div>
              </div>
            </div>
            <div class="stat-columns w-row">
              <div class="w-col w-col-4">
                <div class="stat-title">Accuracy</div>
              </div>
              <div class="w-col w-col-4">
                <div class="stat-number">90.38%</div>
              </div>
              <div class="w-col w-col-4">
                <div class="ranking-value">191/13987</div>
              </div>
            </div>
          </div>
          <div class="weapons-stats">
            <div class="text-block-7">Top 3 Weapons - 680 Total Kills</div>
            <div class="color-bars w-row">
              <div class="column-11 w-col w-col-5"></div>
              <div class="column-12 w-col w-col-4"></div>
              <div class="column-13 w-col w-col-3"></div>
            </div>
          </div>
          <div class="legend-columns w-row">
            <div class="weapon-column w-col w-col-4">
              <div class="weapon">
                <div class="legend-dot"></div><img src="assets/images/AK-47.svg" loading="lazy" alt="" class="gunpic">
                <div class="weaponlabel">AK-47</div>
                <div class="killratio">162/300</div>
              </div>
            </div>
            <div class="w-col w-col-4">
              <div class="weapon">
                <div class="legend-dot pink"></div><img src="assets/images/M4.svg" loading="lazy" alt="" class="gunpic">
                <div class="weaponlabel">AK-47</div>
                <div class="killratio">162/300</div>
              </div>
            </div>
            <div class="w-col w-col-4">
              <div class="weapon">
                <div class="legend-dot purple"></div><img src="assets/images/M24.svg" loading="lazy" alt="" class="gunpic">
                <div class="weaponlabel">AK-47</div>
                <div class="killratio">162/300</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-col w-col-3">
        <div class="stat-guage teammember">
          <div class="profile-title"><img src="assets/images/avatar6.jpg" loading="lazy" width="60" alt="" class="avatar">
            <div class="profile">
              <div class="text-block-5">Deathstroke</div>
              <div class="status">
                <div class="status-indicator offline"></div>
                <div class="status-text offline">Offline</div>
              </div>
            </div>
          </div>
          <div class="profile-stats">
            <div class="stat-columns w-row">
              <div class="w-col w-col-4">
                <div class="stat-title">Win Ratio</div>
              </div>
              <div class="w-col w-col-4">
                <div class="stat-number">96.38%</div>
              </div>
              <div class="w-col w-col-4">
                <div class="ranking-value">174/13987</div>
              </div>
            </div>
            <div class="stat-columns w-row">
              <div class="w-col w-col-4">
                <div class="stat-title">KDA</div>
              </div>
              <div class="w-col w-col-4">
                <div class="stat-number">1.73</div>
              </div>
              <div class="w-col w-col-4">
                <div class="ranking-value">124/13987</div>
              </div>
            </div>
            <div class="stat-columns w-row">
              <div class="w-col w-col-4">
                <div class="stat-title">Accuracy</div>
              </div>
              <div class="w-col w-col-4">
                <div class="stat-number">89.02%</div>
              </div>
              <div class="w-col w-col-4">
                <div class="ranking-value">238/13987</div>
              </div>
            </div>
          </div>
          <div class="weapons-stats">
            <div class="text-block-7">Top 3 Weapons - 467 Total Kills</div>
            <div class="color-bars w-row">
              <div class="column-11 w-col w-col-8"></div>
              <div class="column-12 w-col w-col-3"></div>
              <div class="column-13 w-col w-col-1"></div>
            </div>
          </div>
          <div class="legend-columns w-row">
            <div class="weapon-column w-col w-col-4">
              <div class="weapon">
                <div class="legend-dot"></div><img src="assets/images/AK-47.svg" loading="lazy" alt="" class="gunpic">
                <div class="weaponlabel">AK-47</div>
                <div class="killratio">162/300</div>
              </div>
            </div>
            <div class="w-col w-col-4">
              <div class="weapon">
                <div class="legend-dot pink"></div><img src="assets/images/M4.svg" loading="lazy" alt="" class="gunpic">
                <div class="weaponlabel">AK-47</div>
                <div class="killratio">162/300</div>
              </div>
            </div>
            <div class="w-col w-col-4">
              <div class="weapon">
                <div class="legend-dot purple"></div><img src="assets/images/M24.svg" loading="lazy" alt="" class="gunpic">
                <div class="weaponlabel">AK-47</div>
                <div class="killratio">162/300</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-16 w-col w-col-3">
        <div class="stat-guage teammember">
          <div class="profile-title"><img src="assets/images/avatar10.jpg" loading="lazy" width="60" alt="" class="avatar">
            <div class="profile">
              <div class="text-block-5">Devastr$$</div>
              <div class="status">
                <div class="status-indicator"></div>
                <div class="status-text">Online</div>
              </div>
            </div>
          </div>
          <div class="profile-stats">
            <div class="stat-columns w-row">
              <div class="w-col w-col-4">
                <div class="stat-title">Win Ratio</div>
              </div>
              <div class="w-col w-col-4">
                <div class="stat-number">96.38%</div>
              </div>
              <div class="w-col w-col-4">
                <div class="ranking-value">174/13987</div>
              </div>
            </div>
            <div class="stat-columns w-row">
              <div class="w-col w-col-4">
                <div class="stat-title">KDA</div>
              </div>
              <div class="w-col w-col-4">
                <div class="stat-number">1.42</div>
              </div>
              <div class="w-col w-col-4">
                <div class="ranking-value">124/13987</div>
              </div>
            </div>
            <div class="stat-columns w-row">
              <div class="w-col w-col-4">
                <div class="stat-title">Accuracy</div>
              </div>
              <div class="w-col w-col-4">
                <div class="stat-number">94.18%</div>
              </div>
              <div class="w-col w-col-4">
                <div class="ranking-value">123/13987</div>
              </div>
            </div>
          </div>
          <div class="weapons-stats">
            <div class="text-block-7">Top 3 Weapons - 354 Total Kills</div>
            <div class="color-bars w-row">
              <div class="column-11 w-col w-col-5"></div>
              <div class="column-12 w-col w-col-5"></div>
              <div class="column-13 w-col w-col-2"></div>
            </div>
          </div>
          <div class="legend-columns w-row">
            <div class="weapon-column w-col w-col-4">
              <div class="weapon">
                <div class="legend-dot"></div><img src="assets/images/AK-47.svg" loading="lazy" alt="" class="gunpic">
                <div class="weaponlabel">AK-47</div>
                <div class="killratio">162/300</div>
              </div>
            </div>
            <div class="w-col w-col-4">
              <div class="weapon">
                <div class="legend-dot pink"></div><img src="assets/images/M4.svg" loading="lazy" alt="" class="gunpic">
                <div class="weaponlabel">AK-47</div>
                <div class="killratio">162/300</div>
              </div>
            </div>
            <div class="w-col w-col-4">
              <div class="weapon">
                <div class="legend-dot purple"></div><img src="assets/images/M24.svg" loading="lazy" alt="" class="gunpic">
                <div class="weaponlabel">AK-47</div>
                <div class="killratio">162/300</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="communitymembers">
    <div class="section-header">
      <h1 class="section-heading">Community Members</h1>
    </div>
    <div class="search">
      <div class="search-bar"><img src="assets/images/search_white_24dp.svg" loading="lazy" alt="" class="image-11">
        <div class="text-block-8">Search for Members...</div>
      </div>
      <div class="filter">
        <div class="filter-text">Filter by Team</div><img src="assets/images/arrow_drop_down_white_24dp.svg" loading="lazy" alt="" class="image-12">
      </div>
      <div class="filter">
        <div class="filter-text">Filter by Skills</div><img src="assets/images/arrow_drop_down_white_24dp.svg" loading="lazy" alt="" class="image-12">
      </div>
    </div>
    <div class="columns-4 w-row">
      <div class="column-17 w-col w-col-2">
        <div class="stat-guage community">
          <div class="community-member">
            <div class="flex"><img src="assets/images/avatar-1.jpg" loading="lazy" width="60" alt="" class="avatar">
              <div class="profile">
                <div class="text-block-5">GamerName</div>
                <div class="status">
                  <div class="status-indicator"></div>
                  <div class="status-text">Online</div>
                </div>
              </div>
            </div><img src="assets/images/add_circle_white_24dp.svg" loading="lazy" alt="" class="image-10">
          </div>
          <div class="profile-stats notfollowed">
            <div class="comstats w-row">
              <div class="column-14 w-col w-col-6">
                <div class="stat-number">67.02%</div>
                <div class="stat-title">Win Ratio</div>
              </div>
              <div class="column-15 w-col w-col-6">
                <div class="stat-number caution">0.8</div>
                <div class="stat-title">KDA</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-19 w-col w-col-2">
        <div class="stat-guage community">
          <div class="community-member">
            <div class="flex"><img src="assets/images/avatar-1.jpg" loading="lazy" width="60" alt="" class="avatar">
              <div class="profile">
                <div class="text-block-5">GamerName</div>
                <div class="status">
                  <div class="status-indicator"></div>
                  <div class="status-text">Online</div>
                </div>
              </div>
            </div><img src="assets/images/add_circle_white_24dp.svg" loading="lazy" alt="" class="image-10">
          </div>
          <div class="profile-stats notfollowed">
            <div class="comstats w-row">
              <div class="column-14 w-col w-col-6">
                <div class="stat-number">67.02%</div>
                <div class="stat-title">Win Ratio</div>
              </div>
              <div class="column-15 w-col w-col-6">
                <div class="stat-number caution">0.8</div>
                <div class="stat-title">KDA</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-20 w-col w-col-2">
        <div class="stat-guage community">
          <div class="community-member">
            <div class="flex"><img src="assets/images/avatar-1.jpg" loading="lazy" width="60" alt="" class="avatar">
              <div class="profile">
                <div class="text-block-5">GamerName</div>
                <div class="status">
                  <div class="status-indicator"></div>
                  <div class="status-text">Online</div>
                </div>
              </div>
            </div><img src="assets/images/add_circle_white_24dp.svg" loading="lazy" alt="" class="image-10">
          </div>
          <div class="profile-stats notfollowed">
            <div class="comstats w-row">
              <div class="column-14 w-col w-col-6">
                <div class="stat-number">67.02%</div>
                <div class="stat-title">Win Ratio</div>
              </div>
              <div class="column-15 w-col w-col-6">
                <div class="stat-number caution">0.8</div>
                <div class="stat-title">KDA</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-21 w-col w-col-2">
        <div class="stat-guage community">
          <div class="community-member">
            <div class="flex"><img src="assets/images/avatar-1.jpg" loading="lazy" width="60" alt="" class="avatar">
              <div class="profile">
                <div class="text-block-5">GamerName</div>
                <div class="status">
                  <div class="status-indicator"></div>
                  <div class="status-text">Online</div>
                </div>
              </div>
            </div><img src="assets/images/add_circle_white_24dp.svg" loading="lazy" alt="" class="image-10">
          </div>
          <div class="profile-stats notfollowed">
            <div class="comstats w-row">
              <div class="column-14 w-col w-col-6">
                <div class="stat-number">67.02%</div>
                <div class="stat-title">Win Ratio</div>
              </div>
              <div class="column-15 w-col w-col-6">
                <div class="stat-number caution">0.8</div>
                <div class="stat-title">KDA</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-22 w-col w-col-2">
        <div class="stat-guage community">
          <div class="community-member">
            <div class="flex"><img src="assets/images/avatar-1.jpg" loading="lazy" width="60" alt="" class="avatar">
              <div class="profile">
                <div class="text-block-5">GamerName</div>
                <div class="status">
                  <div class="status-indicator"></div>
                  <div class="status-text">Online</div>
                </div>
              </div>
            </div><img src="assets/images/add_circle_white_24dp.svg" loading="lazy" alt="" class="image-10">
          </div>
          <div class="profile-stats notfollowed">
            <div class="comstats w-row">
              <div class="column-14 w-col w-col-6">
                <div class="stat-number">67.02%</div>
                <div class="stat-title">Win Ratio</div>
              </div>
              <div class="column-15 w-col w-col-6">
                <div class="stat-number caution">0.8</div>
                <div class="stat-title">KDA</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-23 w-col w-col-2">
        <div class="stat-guage community">
          <div class="community-member">
            <div class="flex"><img src="assets/images/avatar-1.jpg" loading="lazy" width="60" alt="" class="avatar">
              <div class="profile">
                <div class="text-block-5">GamerName</div>
                <div class="status">
                  <div class="status-indicator"></div>
                  <div class="status-text">Online</div>
                </div>
              </div>
            </div><img src="assets/images/add_circle_white_24dp.svg" loading="lazy" alt="" class="image-10">
          </div>
          <div class="profile-stats notfollowed">
            <div class="comstats w-row">
              <div class="column-14 w-col w-col-6">
                <div class="stat-number">67.02%</div>
                <div class="stat-title">Win Ratio</div>
              </div>
              <div class="column-15 w-col w-col-6">
                <div class="stat-number caution">0.8</div>
                <div class="stat-title">KDA</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-row">
      <div class="column-24 w-col w-col-2">
        <div class="stat-guage community">
          <div class="community-member">
            <div class="flex"><img src="assets/images/avatar-1.jpg" loading="lazy" width="60" alt="" class="avatar">
              <div class="profile">
                <div class="text-block-5">GamerName</div>
                <div class="status">
                  <div class="status-indicator"></div>
                  <div class="status-text">Online</div>
                </div>
              </div>
            </div><img src="assets/images/add_circle_white_24dp.svg" loading="lazy" alt="" class="image-10">
          </div>
          <div class="profile-stats notfollowed">
            <div class="comstats w-row">
              <div class="column-14 w-col w-col-6">
                <div class="stat-number">67.02%</div>
                <div class="stat-title">Win Ratio</div>
              </div>
              <div class="column-15 w-col w-col-6">
                <div class="stat-number caution">0.8</div>
                <div class="stat-title">KDA</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-25 w-col w-col-2">
        <div class="stat-guage community">
          <div class="community-member">
            <div class="flex"><img src="assets/images/avatar-1.jpg" loading="lazy" width="60" alt="" class="avatar">
              <div class="profile">
                <div class="text-block-5">GamerName</div>
                <div class="status">
                  <div class="status-indicator"></div>
                  <div class="status-text">Online</div>
                </div>
              </div>
            </div><img src="assets/images/add_circle_white_24dp.svg" loading="lazy" alt="" class="image-10">
          </div>
          <div class="profile-stats notfollowed">
            <div class="comstats w-row">
              <div class="column-14 w-col w-col-6">
                <div class="stat-number">67.02%</div>
                <div class="stat-title">Win Ratio</div>
              </div>
              <div class="column-15 w-col w-col-6">
                <div class="stat-number caution">0.8</div>
                <div class="stat-title">KDA</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-26 w-col w-col-2">
        <div class="stat-guage community">
          <div class="community-member">
            <div class="flex"><img src="assets/images/avatar-1.jpg" loading="lazy" width="60" alt="" class="avatar">
              <div class="profile">
                <div class="text-block-5">GamerName</div>
                <div class="status">
                  <div class="status-indicator"></div>
                  <div class="status-text">Online</div>
                </div>
              </div>
            </div><img src="assets/images/add_circle_white_24dp.svg" loading="lazy" alt="" class="image-10">
          </div>
          <div class="profile-stats notfollowed">
            <div class="comstats w-row">
              <div class="column-14 w-col w-col-6">
                <div class="stat-number">67.02%</div>
                <div class="stat-title">Win Ratio</div>
              </div>
              <div class="column-15 w-col w-col-6">
                <div class="stat-number caution">0.8</div>
                <div class="stat-title">KDA</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-27 w-col w-col-2">
        <div class="stat-guage community">
          <div class="community-member">
            <div class="flex"><img src="assets/images/avatar-1.jpg" loading="lazy" width="60" alt="" class="avatar">
              <div class="profile">
                <div class="text-block-5">GamerName</div>
                <div class="status">
                  <div class="status-indicator"></div>
                  <div class="status-text">Online</div>
                </div>
              </div>
            </div><img src="assets/images/add_circle_white_24dp.svg" loading="lazy" alt="" class="image-10">
          </div>
          <div class="profile-stats notfollowed">
            <div class="comstats w-row">
              <div class="column-14 w-col w-col-6">
                <div class="stat-number">67.02%</div>
                <div class="stat-title">Win Ratio</div>
              </div>
              <div class="column-15 w-col w-col-6">
                <div class="stat-number caution">0.8</div>
                <div class="stat-title">KDA</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-28 w-col w-col-2">
        <div class="stat-guage community">
          <div class="community-member">
            <div class="flex"><img src="assets/images/avatar-1.jpg" loading="lazy" width="60" alt="" class="avatar">
              <div class="profile">
                <div class="text-block-5">GamerName</div>
                <div class="status">
                  <div class="status-indicator"></div>
                  <div class="status-text">Online</div>
                </div>
              </div>
            </div><img src="assets/images/add_circle_white_24dp.svg" loading="lazy" alt="" class="image-10">
          </div>
          <div class="profile-stats notfollowed">
            <div class="comstats w-row">
              <div class="column-14 w-col w-col-6">
                <div class="stat-number">67.02%</div>
                <div class="stat-title">Win Ratio</div>
              </div>
              <div class="column-15 w-col w-col-6">
                <div class="stat-number caution">0.8</div>
                <div class="stat-title">KDA</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-29 w-col w-col-2">
        <div class="stat-guage community">
          <div class="community-member">
            <div class="flex"><img src="assets/images/avatar-1.jpg" loading="lazy" width="60" alt="" class="avatar">
              <div class="profile">
                <div class="text-block-5">GamerName</div>
                <div class="status">
                  <div class="status-indicator"></div>
                  <div class="status-text">Online</div>
                </div>
              </div>
            </div><img src="assets/images/add_circle_white_24dp.svg" loading="lazy" alt="" class="image-10">
          </div>
          <div class="profile-stats notfollowed">
            <div class="comstats w-row">
              <div class="column-14 w-col w-col-6">
                <div class="stat-number">67.02%</div>
                <div class="stat-title">Win Ratio</div>
              </div>
              <div class="column-15 w-col w-col-6">
                <div class="stat-number caution">0.8</div>
                <div class="stat-title">KDA</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>