<div class="slides">
  <div class="top-nav">
    <div class="dashboard-button">
      <a routerLink="/old-home" class="dashboard-link w-inline-block">
        <div class="icon-span current">space_dashboard</div>
        <div class="nav-text current">Jump to Nebula</div>
      </a>
    </div>
    <div class="slide-nav">
      <div class="next-slide">
        <a routerLink="/presentation-2-why" class="link-block-2 w-inline-block">
          <div class="text-block-19">Next Slide</div>
          <div class="text-block-20">navigate_next</div>
        </a>
      </div>
    </div>
  </div>
  <div class="slide-content title">
    <div class="logo"><img src="assets/images/full-logo_1.svg" loading="lazy" alt="" class="image-14">
      <div class="text-block-18">Data-Driven Performance and Training</div>
    </div>
  </div>
</div>