<div class="slides">
  <div class="top-nav">
    <div class="dashboard-button">
      <a routerLink="/old-home" class="dashboard-link w-inline-block">
        <div class="icon-span current">space_dashboard</div>
        <div class="nav-text current">Jump to Nebula</div>
      </a>
    </div>
    <div class="slide-nav">
      <a routerLink="/our-goals" class="link-block-3 w-inline-block">
        <div class="next-slide">
          <div class="text-block-20">chevron_left</div>
          <div class="text-block-19">Previous Slide</div>
        </div>
      </a>
      <a routerLink="/the-solution2" class="link-block-4 w-inline-block">
        <div class="next-slide">
          <div class="text-block-19">Next Slide</div>
          <div class="text-block-20">navigate_next</div>
        </div>
      </a>
    </div>
  </div>
  <div class="slide-content _4">
    <div class="div-block-10">
      <div class="text-block-28">A.I. with Intent</div>
    </div>
    <div class="div-block-18">
      <div class="text-block-29">Nebula as a <span class="text-span-4">Tool</span> is designed to deeply engage players in the process of continous improvement by <span class="text-span-5">accelerating discovery, scaling expertise and learning, identifying risk, and recommending training opportunities.</span></div>
    </div>
  </div>
</div>